# Redis Stack Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Padmin DB Configuration
PADMIN_KEY_PREFIX=padmin:
PADMIN_TTL_SYMBOL=86400
PADMIN_TTL_VIOLATION=604800

# Logging
LOG_LEVEL=info
